In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
nyc = pd.read_csv('nyc_listings.csv')

In [3]:
nyc['city'] = 'New York City'

In [4]:
nyc.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,2060,Modern NYC,2259,Jenny,Manhattan,Washington Heights,40.85722,-73.93790,Private room,100,1,1,2008-09-22,0.01,1,365,New York City
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,3,48,2019-11-04,0.38,2,365,New York City
2,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,315,2020-03-14,4.68,1,233,New York City
3,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,78,2019-10-13,0.58,1,0,New York City
4,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.38,1,365,New York City

In [5]:
nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50378 entries, 0 to 50377
Data columns (total 17 columns):
id                                50378 non-null int64
name                              50361 non-null object
host_id                           50378 non-null int64
host_name                         50370 non-null object
neighbourhood_group               50378 non-null object
neighbourhood                     50378 non-null object
latitude                          50378 non-null float64
longitude                         50378 non-null float64
room_type                         50378 non-null object
price                             50378 non-null int64
minimum_nights                    50378 non-null int64
number_of_reviews                 50378 non-null int64
last_review                       39675 non-null object
reviews_per_month                 39674 non-null float64
calculated_host_listings_count    50378 non-null int64
availability_365                  50378 non-null int64
city                              50378 non-null object
dtypes: float64(3), int64(7), object(7)
memory usage: 6.5+ MB

In [6]:
nyc.to_csv('n_listings.csv')

In [7]:
n = pd.read_csv('n_listings.csv')

In [8]:
n.head()

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,0,2060,Modern NYC,2259,Jenny,Manhattan,Washington Heights,40.85722,-73.93790,Private room,100,1,1,2008-09-22,0.01,1,365,New York City
1,1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,3,48,2019-11-04,0.38,2,365,New York City
2,2,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,315,2020-03-14,4.68,1,233,New York City
3,3,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,78,2019-10-13,0.58,1,0,New York City
4,4,5121,BlissArtsSpace!,7356,Garon,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,29,50,2019-12-02,0.38,1,365,New York City

In [9]:
bos = pd.read_csv('bos_listings.csv')

In [10]:
bos['city'] = 'Boston'

In [11]:
bos['neighbourhood_group'] = "Boston"

In [12]:
bos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3845 entries, 0 to 3844
Data columns (total 17 columns):
id                                3845 non-null int64
name                              3845 non-null object
host_id                           3845 non-null int64
host_name                         3845 non-null object
neighbourhood_group               3845 non-null object
neighbourhood                     3845 non-null object
latitude                          3845 non-null float64
longitude                         3845 non-null float64
room_type                         3845 non-null object
price                             3845 non-null int64
minimum_nights                    3845 non-null int64
number_of_reviews                 3845 non-null int64
last_review                       3020 non-null object
reviews_per_month                 3020 non-null float64
calculated_host_listings_count    3845 non-null int64
availability_365                  3845 non-null int64
city                              3845 non-null object
dtypes: float64(3), int64(7), object(7)
memory usage: 510.8+ KB

In [13]:
bos.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,3781,HARBORSIDE-Walk to subway,4804,Frank,Boston,East Boston,42.36413,-71.02991,Entire home/apt,125,28,16,2019-12-21,0.28,1,97,Boston
1,5506,**$49 Special ** Private! Minutes to center!,8229,Terry,Boston,Roxbury,42.32981,-71.09559,Entire home/apt,145,3,106,2019-10-31,0.79,6,307,Boston
2,6695,$99 Special!! Home Away! Condo,8229,Terry,Boston,Roxbury,42.32994,-71.09351,Entire home/apt,169,3,115,2019-11-02,0.88,6,266,Boston
3,8789,Curved Glass Studio/1bd facing Park,26988,Anne,Boston,Downtown,42.35919,-71.06265,Entire home/apt,99,91,24,2019-09-30,0.35,8,290,Boston
4,10730,Bright 1bed facing Golden Dome,26988,Anne,Boston,Downtown,42.35840,-71.06185,Entire home/apt,150,91,31,2019-12-01,0.24,8,42,Boston

In [14]:
bos.to_csv('b_listings.csv')

In [15]:
b = pd.read_csv('b_listings.csv')

In [16]:
b.head()

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,0,3781,HARBORSIDE-Walk to subway,4804,Frank,Boston,East Boston,42.36413,-71.02991,Entire home/apt,125,28,16,2019-12-21,0.28,1,97,Boston
1,1,5506,**$49 Special ** Private! Minutes to center!,8229,Terry,Boston,Roxbury,42.32981,-71.09559,Entire home/apt,145,3,106,2019-10-31,0.79,6,307,Boston
2,2,6695,$99 Special!! Home Away! Condo,8229,Terry,Boston,Roxbury,42.32994,-71.09351,Entire home/apt,169,3,115,2019-11-02,0.88,6,266,Boston
3,3,8789,Curved Glass Studio/1bd facing Park,26988,Anne,Boston,Downtown,42.35919,-71.06265,Entire home/apt,99,91,24,2019-09-30,0.35,8,290,Boston
4,4,10730,Bright 1bed facing Golden Dome,26988,Anne,Boston,Downtown,42.35840,-71.06185,Entire home/apt,150,91,31,2019-12-01,0.24,8,42,Boston

In [17]:
aus = pd.read_csv('aus_listings.csv')

In [18]:
aus['city'] = 'Austin'

In [19]:
aus['neighbourhood_group'] = 'Austin'

In [20]:
aus.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,2265,Zen-East in the Heart of Austin (monthly rental),2466,Paddy,Austin,78702,30.27750,-97.71398,Entire home/apt,225,30,24,2019-03-16,0.18,3,0,Austin
1,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,Austin,78702,30.27577,-97.71379,Private room,100,30,9,2018-03-14,0.07,3,0,Austin
2,5456,"Walk to 6th, Rainey St and Convention Ctr",8028,Sylvia,Austin,78702,30.26112,-97.73448,Entire home/apt,95,2,532,2020-03-19,3.93,1,353,Austin
3,5769,NW Austin Room,8186,Elizabeth,Austin,78729,30.45697,-97.78422,Private room,40,1,257,2019-11-03,2.10,1,25,Austin
4,6413,Gem of a Studio near Downtown,13879,Todd,Austin,78704,30.24829,-97.73726,Entire home/apt,99,30,112,2020-03-08,0.89,1,0,Austin

In [21]:
aus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11282 entries, 0 to 11281
Data columns (total 17 columns):
id                                11282 non-null int64
name                              11282 non-null object
host_id                           11282 non-null int64
host_name                         11280 non-null object
neighbourhood_group               11282 non-null object
neighbourhood                     11282 non-null int64
latitude                          11282 non-null float64
longitude                         11282 non-null float64
room_type                         11282 non-null object
price                             11282 non-null int64
minimum_nights                    11282 non-null int64
number_of_reviews                 11282 non-null int64
last_review                       8837 non-null object
reviews_per_month                 8837 non-null float64
calculated_host_listings_count    11282 non-null int64
availability_365                  11282 non-null int64
city                              11282 non-null object
dtypes: float64(3), int64(8), object(6)
memory usage: 1.5+ MB

In [22]:
aus.to_csv('a_listings.csv')

In [23]:
a = pd.read_csv('a_listings.csv')

In [24]:
a.head(2)

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,0,2265,Zen-East in the Heart of Austin (monthly rental),2466,Paddy,Austin,78702,30.27750,-97.71398,Entire home/apt,225,30,24,2019-03-16,0.18,3,0,Austin
1,1,5245,"Eco friendly, Colorful, Clean, Cozy monthly share",2466,Paddy,Austin,78702,30.27577,-97.71379,Private room,100,30,9,2018-03-14,0.07,3,0,Austin

In [25]:
import glob as glob

In [26]:
# importing NYC, BOSTON and AUSTIN Airbnb lisings
city_listings = []

In [27]:
#cities = glob.glob("[a-z][a-z][a-z]_listings.csv")
cities = glob.glob("[a-z]_listings.csv")

In [28]:
cities

['b_listings.csv', 'n_listings.csv', 'a_listings.csv']

In [29]:
for city in cities:
    all_cities = pd.read_csv(city)
    city_listings.append(all_cities)
    
airbnb = pd.concat(city_listings)

In [30]:
airbnb.head()

,Unnamed: 0,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,city
0,0,3781,HARBORSIDE-Walk to subway,4804,Frank,Boston,East Boston,42.36413,-71.02991,Entire home/apt,125,28,16,2019-12-21,0.28,1,97,Boston
1,1,5506,**$49 Special ** Private! Minutes to center!,8229,Terry,Boston,Roxbury,42.32981,-71.09559,Entire home/apt,145,3,106,2019-10-31,0.79,6,307,Boston
2,2,6695,$99 Special!! Home Away! Condo,8229,Terry,Boston,Roxbury,42.32994,-71.09351,Entire home/apt,169,3,115,2019-11-02,0.88,6,266,Boston
3,3,8789,Curved Glass Studio/1bd facing Park,26988,Anne,Boston,Downtown,42.35919,-71.06265,Entire home/apt,99,91,24,2019-09-30,0.35,8,290,Boston
4,4,10730,Bright 1bed facing Golden Dome,26988,Anne,Boston,Downtown,42.35840,-71.06185,Entire home/apt,150,91,31,2019-12-01,0.24,8,42,Boston

In [31]:
airbnb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 65505 entries, 0 to 11281
Data columns (total 18 columns):
Unnamed: 0                        65505 non-null int64
id                                65505 non-null int64
name                              65488 non-null object
host_id                           65505 non-null int64
host_name                         65495 non-null object
neighbourhood_group               65505 non-null object
neighbourhood                     65505 non-null object
latitude                          65505 non-null float64
longitude                         65505 non-null float64
room_type                         65505 non-null object
price                             65505 non-null int64
minimum_nights                    65505 non-null int64
number_of_reviews                 65505 non-null int64
last_review                       51532 non-null object
reviews_per_month                 51531 non-null float64
calculated_host_listings_count    65505 non-null int64
availability_365                  65505 non-null int64
city                              65505 non-null object
dtypes: float64(3), int64(8), object(7)
memory usage: 9.5+ MB

In [32]:
airbnb.isnull().sum().sort_values(ascending=False)

reviews_per_month                 13974
last_review                       13973
name                                 17
host_name                            10
city                                  0
latitude                              0
id                                    0
host_id                               0
neighbourhood_group                   0
neighbourhood                         0
longitude                             0
availability_365                      0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
calculated_host_listings_count        0
Unnamed: 0                            0
dtype: int64

In [33]:
# Boston and Austin do not have neighbourhood groups.

In [34]:
# replacing null values in reviews per month to 0. This is a probably the rating
# replacing host name with unknown
airbnb.fillna({'reviews_per_month':0, 'host_name': 'unknown'}, inplace=True)

In [35]:
# dropping last review column as it is the date of last review.
airbnb.drop(['last_review'], axis = 1,inplace = True)

In [36]:
# Dropping listing name
airbnb.drop(['name','Unnamed: 0'], axis = 1,inplace = True)

In [37]:
airbnb.head()

,id,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,city
0,3781,4804,Frank,Boston,East Boston,42.36413,-71.02991,Entire home/apt,125,28,16,0.28,1,97,Boston
1,5506,8229,Terry,Boston,Roxbury,42.32981,-71.09559,Entire home/apt,145,3,106,0.79,6,307,Boston
2,6695,8229,Terry,Boston,Roxbury,42.32994,-71.09351,Entire home/apt,169,3,115,0.88,6,266,Boston
3,8789,26988,Anne,Boston,Downtown,42.35919,-71.06265,Entire home/apt,99,91,24,0.35,8,290,Boston
4,10730,26988,Anne,Boston,Downtown,42.35840,-71.06185,Entire home/apt,150,91,31,0.24,8,42,Boston

In [ ]:
# Saving as csv for building dashboard in tableau

In [ ]:
#airbnb_three = airbnb.to_csv('airbnb_three.csv')

In [38]:
airbnb.to_csv('airbnb_three.csv')

In [39]:
three = pd.read_csv('airbnb_three.csv')

In [40]:
three.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65505 entries, 0 to 65504
Data columns (total 16 columns):
Unnamed: 0                        65505 non-null int64
id                                65505 non-null int64
host_id                           65505 non-null int64
host_name                         65505 non-null object
neighbourhood_group               65505 non-null object
neighbourhood                     65505 non-null object
latitude                          65505 non-null float64
longitude                         65505 non-null float64
room_type                         65505 non-null object
price                             65505 non-null int64
minimum_nights                    65505 non-null int64
number_of_reviews                 65505 non-null int64
reviews_per_month                 65505 non-null float64
calculated_host_listings_count    65505 non-null int64
availability_365                  65505 non-null int64
city                              65505 non-null object
dtypes: float64(3), int64(8), object(5)
memory usage: 8.0+ MB

In [41]:
three.head()

,Unnamed: 0,id,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,city
0,0,3781,4804,Frank,Boston,East Boston,42.36413,-71.02991,Entire home/apt,125,28,16,0.28,1,97,Boston
1,1,5506,8229,Terry,Boston,Roxbury,42.32981,-71.09559,Entire home/apt,145,3,106,0.79,6,307,Boston
2,2,6695,8229,Terry,Boston,Roxbury,42.32994,-71.09351,Entire home/apt,169,3,115,0.88,6,266,Boston
3,3,8789,26988,Anne,Boston,Downtown,42.35919,-71.06265,Entire home/apt,99,91,24,0.35,8,290,Boston
4,4,10730,26988,Anne,Boston,Downtown,42.35840,-71.06185,Entire home/apt,150,91,31,0.24,8,42,Boston